.divDetail {
  display: flex;
  flex-direction: column;
  background-image: url("https://www.pngitem.com/pimgs/m/519-5195253_kingsglass-green-portal-title-kingsglass-green-rick-and.png");
  background-size: 120%;
  background-position:center;
  border-radius: 10px;
  color: white;
  overflow: hidden;
  width: 80%;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  box-shadow: inset 0 0 40px #39ff14;
  border: solid #39ff14 2px;
  padding-bottom: 10px;
}

.divContainer{
  display: flex;
  flex-direction: row;
  margin-top: 20px ;
  justify-content: center;
}

.divInfo {
  margin-right: 40px;
  margin-left: 40px;
  color: rgb( 72, 61, 139);
}

.divInfo h2{
  margin-top: 5px;
}

.divInfo .class2{
  color:#44281d;
}

.divImg{
  margin-top: auto;
  margin-right: 40px;
  margin-left: 40px;
}

.divImg img{
  border-radius: 10px;
  border: solid rgb( 72, 61, 139) 5px;
}

.divReturnBack{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: 2px solid #61de2a;
  border-radius: 15px;
  box-shadow: 0px 0px 6px 1px #61de2a;
  background-color: rgba(255, 255, 255);
  margin: 0px 0px 30px;
  padding: 10px 25px;
  font-size: 20px;
  transition: all 0.2s ease;
  cursor: pointer;
  color: purple;

  &:hover{
    background-color: #2f362f;
    color: #61de2a;
  }
}

.arrow{
  height: 20px;
  margin: 0 0 0 20px;
  transition: all .4s cubic-bezier(.28,1.1,1,1);
  width: 20px;
}