.divError {
  display: flex;
  flex-direction: column;
  color: white;
  overflow: hidden;
  margin: auto;
  max-width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.divError img{
  width: 41%;
}

.divReturnHome{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: 2px solid #61de2a;
  border-radius: 15px;
  box-shadow: 0px 0px 6px 1px #61de2a;
  background-color: rgba(255, 255, 255);
  margin: 0px 0px 30px;
  padding: 10px 25px;
  font-size: 20px;
  transition: all 0.2s ease;
  cursor: pointer;
  color: purple;

  &:hover{
    background-color: #2f362f;
    color: #61de2a;
  }
}

.arrow{
  height: 20px;
  margin: 0 0 0 20px;
  transition: all .4s cubic-bezier(.28,1.1,1,1);
  width: 20px;
}